@import "../../scss/_variable";
.information_item_wrap{
  width: 100%;
  .information_item{
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 24px;
    position: relative;
    .ant-form-item-label{
      text-align:left;
    }
    .ant-form-item-required:before{
      content: '';
      display: none;
    }
    .ant-select-lg .ant-select-selection__rendered{
      line-height: 42px;
    }
  }
  .information_item_add{
    text-align: right;
  }
  .ant-form-item-with-help{
    margin-bottom: 24px;
  }
  .ant-form-explain{
    display: none;
  }
  .item_delete{
    position: absolute;
    cursor: pointer;
    top: -22px;
    right: -19px;
  }
}
